@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --button: #B803B9;
}
@font-face {
  font-family: 'Robuka';
  src: url('/fonts/RobukaDemo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-button: var(--button);
  --font-robuka: var(--font-robuka);
  --font-poppins: var(--font-poppins);

 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background-image: url('/images/noise.png'),url('/images/background-m\ 1.png'); 
  background-position: left top, right top;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;*/
  background-color:#191919; 
  color: var(--foreground);
  font-family: var(--font-poppins), Helvetica, sans-serif;}


