@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --button: #b803b9;
}
@font-face {
  font-family: "Robuka";
  src: url("/fonts/RobukaDemo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-button: var(--button);
  --font-robuka: var(--font-robuka);
  --font-poppins: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background-image: url('/images/noise.png'),url('/images/background-m\ 1.png'); 
  background-position: left top, right top;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;*/
  background-color: #191919;
  color: var(--foreground);
  font-family: var(--font-poppins), Helvetica, sans-serif;
  scroll-behavior: smooth;
  overflow-y: auto;
  cursor: none;
}

a {
  cursor: none;
}

.sticky-section {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  color: white;
}

.projects {
  z-index: 1;
}

.about {
  z-index: 2;
}

.connect {
  z-index: 3;
}

/* about.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* GHJK */

.details {
  background-image: url("/images/background-m 1.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.nextjs-toast {
  display: none !important;
}
